body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    background-color: rgb(24, 64, 113);
    height: 10vh;
    width: 100%;
}

.headertransition {
    margin-left: 300px;
    margin-top: 25px;
}

.header b {
    color: white;
    font-size: 37px;
}

.content {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 100%;
    text-align: center;
    background-color: aquamarine;
}

.content h2 {
    margin-top: 150px;
    font-size: 70px;
    color: rgb(33, 33, 33);
}

.contentheadsubone {
    font-size: 25px;
    opacity: 50%;
    color: rgb(0, 0, 0)
}

input {
    width: 600px;
    height: 50px;
    font-size: 25px;
    background-color: #ffffff;
    margin: 15px;
}

button {
    background-color: #003af7;
    color: #e8cc16;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    width: 600px;
    cursor: pointer;
    margin-bottom: 50px;
}

button:hover {
    background-color: #1b3ba4;
}

.contentbuttonsubone {
    font-size: 17px;
    opacity: 50%;
    color: rgb(0, 0, 0)
}

.contentbuttonsub span {
    font-size: 25px;
}

.contentbuttonsub a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.contentbuttonsub a:hover {
    color: rgb(255, 0, 102);
}