# Ignore Python __pycache__ folders
__pycache__/

# Ignore Visual Studio Code settings folder
.vscode/

# Ignore db files
backend/db/db.fs
backend/db/db.fs.index
backend/db/db.fs.lock
backend/db/db.fs.tmp