body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    background-color: #04364A;
    height: 10vh;
    width: 100%;
}

.header b {
    color: #DAFFFB;
    font-size: 50px;
}

.headertransition {
    margin-left: 300px;
    margin-top: 15px;
}

.content {
    height: 90vh;
    width: 100%;
    text-align: center;
    background-color: #176B87;
}

.container img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: #DAFFFB
}

.content h2 {
    font-size: 55px;
    color: whitesmoke;
}

.containertransition {
    margin-top: 80px;
}

.container {
    background-color: #1c1c1c;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
}

.contentheadsubone {
    opacity: 60%;
    color: #e8e9eb;
}

.contentheadsub span {
    font-size: 20px;
}

.contentheadsub a {
    color: #e8e9eb;
    text-decoration: none;
}

.contentheadsub a:hover {
    color: #DAFFFB;
}

input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    background-color: #DAFFFB;
    margin: 10px;
    border-radius: 10px;
}

input[type="radio"] {
    display: none;
}

.radio-label {
    display: inline-block;
    background-color: #DAFFFB;
    color: #272829;
    font-size: 18px;
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="radio"]:checked + .radio-label {
    background-color: #e5de00;
    color: #272829;
}

.contentboxfield p {
    margin: 10px 0;
}

button {
    background-color: #e5de00;
    color: #272829;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 400px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #DAFFFB;;
}

.contentbuttonsubone {
    font-size: 20px;
    opacity: 60%;
    color: #e8e9eb;
}

.contentbuttonsub span {
    font-size: 20px;
}

.contentbuttonsub a {
    color: #e8e9eb;
    text-decoration: none;
}

.contentbuttonsub a:hover {
    color: #DAFFFB;
}