body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    background-color: #04364A;
    height: 10vh;
    width: 100%;
}

.header b {
    color: #DAFFFB;
    font-size: 55px;
}

.headertransition {
    margin-left: 300px;
    margin-top: 20px;
}

.content {
    height: 90vh;
    width: 100%;
    text-align: center;
    background-color: #176B87;
}

.content h2 {
    margin-top: 40px;
    font-size: 80px;
    color: #272829;
}

input {
    width: 700px;
    height: 40px;
    font-size: 27px;
    background-color: #DAFFFB;
    margin: 10px;
    border-radius: 10px;
}

input[type="radio"] {
    display: none;
}

label.radio-label {
    display: inline-block;
    margin: 25px;
    position: relative;
    cursor: pointer;
    font-size: 27px;
    color: #DAFFFB;
    left: 15px;
}

label.radio-label:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #DAFFFB;
    display: inline-block;
    position: absolute;
    left: -35px;
    top: 3px;
    background-color: #176B87;
}

input[type="radio"]:checked + label.radio-label:before {
    background-color: #DAFFFB;
    border: 2px solid #176B87;
}

button {
    background-color: #64CCC5;
    color: #272829;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 27px;
    width: 700px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #DAFFFB;
}

.contentbuttonsubone {
    font-size: 17px;
    opacity: 80%;
    color: #272829;
}

.contentbuttonsub span {
    font-size: 27px;
}

.contentbuttonsub a {
    color: #000000;
    text-decoration: none;
}

.contentbuttonsub a:hover {
    color: #DAFFFB;
}