<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">{{username}}</p>
                <br>
                <li><a class="sidebar-menu" href="/logout">Logout</a></li>
                {% else %}
                <ul>
                    <li><a class="sidebar-menu" href="/login">login</a></li>
                    <li><a class="sidebar-menu" href="/signup">signup</a></li>
                </ul>
                {% endif %}
                <br>
                <div class="sidebarnav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/admission">Admissions</a></li>
                    <li><a href="/news">News</a></li>
                    <div class="dropdown-side">
                        <li><a class="dropbtn">Program</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="/se2022">Software-Engineering 2022</a></li>
                                    <li><a href="/se2024">Software-Engineering 2024</a></li>
                                    <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                                    <li><a href="/queensland">KMITL-Queensland</a></li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <li><a href="/studyanytime">Study Anytime</a></li>
                </div>
            </div>
        </label>
        <div class="topnav">
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/about">About</a></li>
            <li><a href="/admission">Admissions</a></li>
            <li><a href="/news">News</a></li>
            <div class="programbttn">
                <li><a>Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>
                        </ul>
                    </div>
                </li>
            </div>

            <li><a href="/studyanytime">Study Anytime</a></li>
            <div class="sepic">
                &emsp;&emsp;
                <img src="static/picture/se.png" alt="sepic" style="width: 75px; height: 45px;">
            </div>
        </div>
        <div class="block1">
            <h2>What is Software Engineering?</h2>
            <p>Software engineering (SE) is an engineering discipline concerning all aspects of
                software production, including software analysis, design, development, testing, and deployment.
                SE requires profound abstract and logical thinking and the application of mathematics, logic,
                and computer science in order to produce efficient and reliable software with the available
                resources.</p>
        </div>

        <div class="block2">
            <h2>Why study Software Engineering?</h2>
            <p>It is hard to overstate the ubiquity of software nowadays. Every computer system is
                governed by software. Almost every human activity involves software in some form.
                Undoubtedly software industry is one of the largest and fastest growing industries
                in the world. Consequently, skilled software engineers are in high demand worldwide.
                As software becomes more and more complex, the programming skills and the rudimentary
                knowledge of software engineering that students obtained from traditional computer science
                and computer engineering curriculums are insufficient. The development of real-world
                software applications requires the skills in analysing the problem domain and the customer's
                requirement and the skills in designing the software from the topmost level down to the
                implementation level. Moreover, a software engineer must be able to use proper tools,
                techniques, and methodologies in order to produce the software in an efficient manner.</p>
        </div>
        <div class="block3">
            <h2>Careers in Software Engineering</h2>
            <p>There are abundant career opportunities for graduates from the software engineering program.</p>
            <ul>
                <li>Software engineers, software architects, and software developers on various platforms,
                    including enterprise software, web applications, mobile applications, games, embedded
                    applications, etc.</li>
                <li>Analysts and designers of IT systems, IT consultants</li>
                <li>Software entrepreneurs</li>
            </ul>
            <p>With strong foundation in computer science, mathematics, and software engineering principles,
                graduates of the SE program may continue their studies at postgraduate level in various software
                engineering or computing related fields in universities worldwide.</p>
        </div>
        <div class="block4">
            <h2>Internal Lecturers</h2>
            <ul class="lecturers">
                <li>Dr.Montri Phothisonothai</li>
                <li>Dr. Ukrit Watchareeruetai</li>
                <li>Asst.Prof.Dr. Ronnachai Tiyarattanachai</li>
                <li>Assoc.Prof.Dr. Veera Boonjing</li>
                <li>Dr. Natthapong Jungteerapanich</li>
                <li>Asst.Prof.Dr. Chaiwat Nuthong</li>
                <li>Dr.Churirat Boonkhun</li>
                <li>Asst.Prof.Dr. Kulwadee Somboonviwat</li>
                <li>Dr. Pipat Sookavatana</li>
                <li>Asst.Prof.Dr. Chivalai Temiyasathit</li>
                <li>Dr. Jochen Amrehn</li>
                <li>Mr. Xavier Boegly</li>
                <li>Asst.Prof.Dr. Isara Anantavrasilp</li>
            </ul>
        </div>
        <div class="block5">
            <h2>External Lecturers</h2>
            <ul class="lecturers">
                <li>Asst.Prof.Dr. Visit Hirankitti</li>
                <li>Asst.Prof.Dr. Pratoom Angurarohita</li>
                <li>Dr. Prakash Chanchana</li>
                <li>Asst.Prof.Dr. Surin Kittitornkun</li>
                <li>Assoc.Prof.Dr. Suphamit Chittayasothorn</li>
                <li>Asst.Prof.Dr. Lily Ingsrisawang</li>
                <li>Dr. Vorapranee Khu-smith</li>
                <li>Assoc.Prof.Dr. Tatre Jantarakolica</li>
                <li>Assoc.Prof.Dr. Boontee Kruatrachue</li>
                <li>Asst.Prof.Dr. Todsanai Chumwatana</li>
                <li>Dr. Yunyong Teng-amnuay</li>
                <li>University of Glasgow Staff</li>
                <li>Dr. Rutchanee Gullayanon</li>
                <li>Asst.Prof.Dr. Kasin Vichienchom</li>
                <li>Dr. Teerawet Titseesang</li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <table>
            <tr>
                <td rowspan="7" style="width:15% ;"><img src="static/picture/kmitl-logo.png" alt=""
                        style="width: 150px" />
                <td>
            </tr>
            <tr>
                <td><strong style="color:#FF8000;">King Mongkut's Institute of Technology LadKrabang</strong></td>
            </tr>
            <tr>
                <td>
                    <p>1 Chalong Krung, 1 Alley, Lat Krabang, Bangkok 10520</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Email: saraban@kmitl.ac.th</p>
                </td>
            </tr>
            <tr>
                <td>tel : +662-329-8301 ext. 200</td>
            </tr>
            <tr>
                <td><strong>Contact us</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="link">
                        <a href="https://www.facebook.com/kmitlofficial">
                            <img src="/static/picture/facebook-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.instagram.com/kmitlofficial">
                            <img src="/static/picture/ig-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.youtube.com/user/prKMITL">
                            <img src="/static/picture/youtube-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="">
                            <img src="/static/picture/linkedin-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="{{ url_for('static', path='index.js') }}" type="text/Javascript"></script>
</body>

</html>