<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Anytime</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">{{username}}</p>
                <br>
                <li><a class="sidebar-menu" href="/logout">Logout</a></li>
                {% else %}
                <ul>
                    <li><a class="sidebar-menu" href="/login">login</a></li>
                    <li><a class="sidebar-menu" href="/signup">signup</a></li>
                </ul>
                {% endif %}
                <br>
                <div class="sidebarnav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/admission">Admissions</a></li>
                    <li><a href="/news">News</a></li>
                    <div class="dropdown-side">
                        <li><a class="dropbtn">Program</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="/se2022">Software-Engineering 2022</a></li>
                                    <li><a href="/se2024">Software-Engineering 2024</a></li>
                                    <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                                    <li><a href="/queensland">KMITL-Queensland</a></li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <li><a href="/studyanytime">Study Anytime</a></li>
                </div>
            </div>
        </label>
        <div class="topnav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admission">Admissions</a></li>
            <li><a href="/news">News</a></li>
            <div class="programbttn">
                <li><a>Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>
                        </ul>
                    </div>
                </li>
            </div>
            <li><a class="active" href="/studyanytime">Study Anytime</a></li>
            <div class="sepic">
                &emsp;&emsp;
                <img src="{{ url_for('static', path='/picture/se.png') }}" alt="sepic"
                    style="width: 75px; height: 45px;">
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p></p><br>
                <h2>Login Required</h2>
                <br>
                <p></p>
            </div>
            <div class="modal-body">
                <br><br>
                <p>You must be signed in to access this page. Click the "Login" button to log in.</p>
                <br><br>
            </div>
            <div class="modal-footer">
                <h3><br>
                    <p>
                        <a href="/login"><button>Login</button></a>
                    </p>
                    <br>
                </h3>
            </div>
        </div>
    </div>
    {% if enrolled or isInstructor%}
    <div class="uploadvideo">
        {% if isInstructor %}
        <br><br><br>
        <h1>Upload Video:</h1>
        <form id="add-form" action="/video/upload/{{course_id}}" method="POST" enctype="multipart/form-data">
            <div>
                <input type="file" name="file">
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
        {% if not isPublic %}
        <h1>Enrollment :</h1>
        <h3>Enrolled student:</h3>
        {% for student in student_list %}
        <div>
            <form id="withdraw-form" action="/withdraw/{{course_id}}/{{student.id}}" method="POST">
                <p>
                    <input type="submit" value="Withdraw">
                    <b>{{student.id}}</b>&nbsp;{{student.first_name}}&nbsp;{{student.last_name}}
                </p>
            </form>
        </div>
        {% endfor %}
        <br>
        <h3>Enroll new student:</h3>
        <form id="enroll-form" action="/enroll/{{course_id}}" method="POST">
            <p>
                <input name="student_id" id="student_id" type="text" placeholder="Student ID">
            </p>
            <div>
                <input type="submit" value="Enroll">
            </div>
        </form>
        {% endif %}
        {% endif %}
    </div>
    <div class="video">
        <h1>Videos:</h1>
        {% for video in videos %}
        <div>
            <a href="/studyanytime/course/video/{{course_id}}/{{video}}">
                <div class="video-select">
                    <b>{{video}}</b>
                </div>
            </a>
            {% if isInstructor %}
            <form id="delete-form" action="/video/delete/{{course_id}}/{{video}}" method="POST"
                onsubmit="return confirm('Are you sure you want to delete this video?')">
                <button type="submit">remove</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
        <br>
    </div>
    {% else %}
    <div>
        <br><br><br><br><br><br>
        <h2>&emsp;You have not been enrolled to this course</h2>
    </div>
    {% endif %}
    {% if isInstructor %}
    <form id="delete-course" action="/course/remove/{{course_id}}" method="POST"
        onsubmit="return confirm('Are you sure you want to delete this course?')">
        <button type="submit">delete course</button>
    </form>
    {% endif %}
    <div class="backbtn">
        <a href="/studyanytime">
            <button type="submit">Back</button>
        </a>
    </div>
    <div class="contact">
        <table>
            <tr>
                <td rowspan="7" style="width:15% ;"><img src="{{ url_for('static', path='/picture/kmitl-logo.png') }}"
                        alt="" style="width: 150px" />
                <td>
            </tr>
            <tr>
                <td><strong style="color:#FF8000;">King Mongkut's Institute of Technology LadKrabang</strong></td>
            </tr>
            <tr>
                <td>
                    <p>1 Chalong Krung, 1 Alley, Lat Krabang, Bangkok 10520</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Email: saraban@kmitl.ac.th</p>
                </td>
            </tr>
            <tr>
                <td>tel : +662-329-8301 ext. 200</td>
            </tr>
            <tr>
                <td><strong>Contact us</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="link">
                        <a href="https://www.facebook.com/kmitlofficial">
                            <img src="/static/picture/facebook-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.instagram.com/kmitlofficial">
                            <img src="/static/picture/ig-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.youtube.com/user/prKMITL">
                            <img src="/static/picture/youtube-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="">
                            <img src="/static/picture/linkedin-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="{{ url_for('static', path='studyanytime.js') }}" type="text/Javascript"></script>
</body>

</html>