<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="{{ url_for('static', path='login.css?v=1.1') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="topnav">
                <li><a class="active" href="/"><b>SE@KMITL</b></a></li>
            </div>
            <div class="containertransition">
                <div class="container">
                    <div class="sepic">
                        
                        <img src="{{ url_for('static', path='/picture/se.png') }}" alt="sepic" style="height: 70px; width:180;">
                    </div>
                    <div class="header">
                        <h2>Log in</h2>
                    </div>
                    <div class="contentheadsub">
                        <p>
                            <span class="contentheadsubone">Don't have an account?</span>
                            <span>
                                <a href="/signup">Sign up</a>
                            </span>
                            {% if invalid %}
                                <p style="color: red;">Invalid username/password</p>
                            {% endif %}
                        </p>
                    </div>
                    <form id="login-form" action="/user/signIn/" method="POST">
                        <div class="contentboxfield">
                            <p>
                                <input name="id" id="id" type="text" class="input-item" placeholder="ID/Username *" required>
                            </p>
                            <p>
                                <input name="password" id="password" type="password" class="input-item" placeholder="Password *" required>
                            </p>
                            <p>
                                <input type="radio" name="role" id="student" value="student" required>
                                <label for="student" class="radio-label">Student</label>

                                <input type="radio" name="role" id="lecturer" value="lecturer" required>
                                <label for="lecturer" class="radio-label">Lecturer</label>

                                <input type="radio" name="role" id="others" value="others" required>
                                <label for="others" class="radio-label">Others</label>
                            </p>
                        </div>
                        <div class="contentbutton">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                    <div class="contentbuttonsub">
                        <p>
                            <span class="contentbuttonsubone">Forgot your password?</span>
                            <span>
                                <a href="/resetpassword">Reset password</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>