<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetpassword Page</title>
    <link href="{{ url_for('static', path='resetpassword.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="topnav">
                <li><a class="active" href="/"><b>SE@KMITL</b></a></li>
            </div>
            <div class="containertransition">
                <div class="container">
                    <div class="contentheadsub">
                        <p>
                            <span class="contentheadsubone">Enter your new password</span>
                        </p>
                        <h2>Password reset</h2>
                    </div>
                    <div class="contentboxfield">
                        <form id="resetpassword" action="/user/resetPwd/{{token}}/{{new_password}}" method="POST">
                            <p>
                                <input class="input-item" name="new_password" id="new_password" type="password" placeholder="New Password *" required>
                            </p>
                            <div class="contentbutton">
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="contentbuttonsub">
                        <p>
                            <span class="contentbuttonsubone">Remember your password?</span>
                            <span>
                                <a href="/login">Sign in here</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>