<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">{{username}}</p>
                <br>
                <li><a class="sidebar-menu" href="/logout">Logout</a></li>
                {% else %}
                <ul>
                    <li><a class="sidebar-menu" href="/login">login</a></li>
                    <li><a class="sidebar-menu" href="/signup">signup</a></li>
                </ul>
                {% endif %}
                <br>
                <div class="sidebarnav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/admission">Admissions</a></li>
                    <li><a href="/news">News</a></li>
                    <div class="dropdown-side">
                        <li><a class="dropbtn">Program</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="/se2022">Software-Engineering 2022</a></li>
                                    <li><a href="/se2024">Software-Engineering 2024</a></li>
                                    <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                                    <li><a href="/queensland">KMITL-Queensland</a></li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <li><a href="/studyanytime">Study Anytime</a></li>
                </div>
            </div>
        </label>
        <div class="topnav">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admission">Admissions</a></li>
            <li><a href="/news">News</a></li>
            <div class="programbttn">
                <li><a>Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>
                        </ul>
                    </div>
                </li>
            </div>
            <li><a href="/studyanytime">Study Anytime</a></li>
            <div class="sepic">
                &emsp;&emsp;
                <img src="static/picture/se.png" alt="sepic" style="width: 75px; height: 45px;">
            </div>
        </div>
        <div class="subheader">
            <h5><a href="/news">News</a> / TALK: Introducing the KMITL - U. of Glasgow Double Degree Program</h5>
        </div>
        <div class="containernews">
            <div class="news4content">
                <h3>TALK: Introducing the KMITL - U. of Glasgow Double Degree Program</h3>
                <hr>
                <img src="static/picture/news4.png" alt="pic4"><br><br>
                <h2>TALK: Introducing the KMITL - U. of Glasgow Double Degree Program in Software Engineering
                    and Biomedical Engineering</h2>
                <p>Fri 11 November 2022, 14.00-15.30
                    <br>
                    Room ECC-804, ECC Building
                    <br>
                    School of Engineering, KMITL, Bangkok
                    <br>
                    Founded in 1451, University of Glasgow is one of the top-rank research universities in the UK.
                    The university has long been ranked one of the world’s top 100 universities by QS and Times.
                    In this talk, Ms. Donna Gall (Senior International Officer) is presenting an introduction
                    to University of Glasgow, the 2+2 programs in biomedical and software engineering,
                    and the application process. All are welcome. (No certificates are given to participants.)
                    <br>
                    Limited seats. Register before Wed 9 Nov, 6pm, at <a
                        href="https://bit.ly/3NK3LXG">https://bit.ly/3NK3LXG</a>
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="contact">
        <table>
            <tr>
                <td rowspan="7" style="width:15% ;"><img src="static/picture/kmitl-logo.png" alt=""
                        style="width: 150px" />
                <td>
            </tr>
            <tr>
                <td><strong style="color:#FF8000;">King Mongkut's Institute of Technology LadKrabang</strong></td>
            </tr>
            <tr>
                <td>
                    <p>1 Chalong Krung, 1 Alley, Lat Krabang, Bangkok 10520</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Email: saraban@kmitl.ac.th</p>
                </td>
            </tr>
            <tr>
                <td>tel : +662-329-8301 ext. 200</td>
            </tr>
            <tr>
                <td><strong>Contact us</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="link">
                        <a href="https://www.facebook.com/kmitlofficial">
                            <img src="/static/picture/facebook-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.instagram.com/kmitlofficial">
                            <img src="/static/picture/ig-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.youtube.com/user/prKMITL">
                            <img src="/static/picture/youtube-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="">
                            <img src="/static/picture/linkedin-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="{{ url_for('static', path='index.js') }}" type="text/Javascript"></script>
</body>

</html>