<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">{{username}}</p>
                <br>
                <li><a class="sidebar-menu" href="/logout">Logout</a></li>
                {% else %}
                <ul>
                    <li><a class="sidebar-menu" href="/login">login</a></li>
                    <li><a class="sidebar-menu" href="/signup">signup</a></li>
                </ul>
                {% endif %}
                <br>
                <div class="sidebarnav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/admission">Admissions</a></li>
                    <li><a href="/news">News</a></li>
                    <div class="dropdown-side">
                        <li><a class="dropbtn">Program</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="/se2022">Software-Engineering 2022</a></li>
                                    <li><a href="/se2024">Software-Engineering 2024</a></li>
                                    <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                                    <li><a href="/queensland">KMITL-Queensland</a></li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <li><a href="/studyanytime">Study Anytime</a></li>
                </div>
            </div>
        </label>
        <div class="topnav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admission">Admissions</a></li>
            <li><a class="active" href="/news">News</a></li>
            <div class="programbttn">
                <li><a>Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>

                        </ul>
                    </div>
                </li>
            </div>

            <li><a href="/studyanytime">Study Anytime</a></li>
            <div class="sepic">
                &emsp;&emsp;
                <img src="static/picture/se.png" alt="sepic" style="width: 75px; height: 45px;">
            </div>
        </div>
        <div class="content">
            <div class="contentheader">
                <h2>Lastest News</h2>
            </div>
            <div class="allnews">
                <div class="newsblock">
                    <a href="/news1">
                        <img src="static/picture/news1.png" alt="pic1">
                        <p>Software Engineer Skill Mapping Workshop</p>
                    </a>
                </div>
                <div class="newsblock">
                    <a href="/news2">
                        <img src="static/picture/news2.png" alt="pic2">
                        <p>K-Engineering World Tour and Workshop 2022</p>
                    </a>
                </div>
                <div class="newsblock">
                    <a href="/news3">
                        <img src="static/picture/news3.png" alt="pic3">
                        <p>Visit from U. of Queensland</p>
                    </a>
                </div>
                <div class="newsblock">
                    <a href="/news4">
                        <img src="static/picture/news4.png" alt="pic4">
                        <p>TALK: Introducing the KMITL - U. of Glasgow Double Degree Program</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <table>
            <tr>
                <td rowspan="7" style="width:15% ;"><img src="static/picture/kmitl-logo.png" alt=""
                        style="width: 150px" />
                <td>
            </tr>
            <tr>
                <td><strong style="color:#FF8000;">King Mongkut's Institute of Technology LadKrabang</strong></td>
            </tr>
            <tr>
                <td>
                    <p>1 Chalong Krung, 1 Alley, Lat Krabang, Bangkok 10520</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Email: saraban@kmitl.ac.th</p>
                </td>
            </tr>
            <tr>
                <td>tel : +662-329-8301 ext. 200</td>
            </tr>
            <tr>
                <td><strong>Contact us</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="link">
                        <a href="https://www.facebook.com/kmitlofficial">
                            <img src="/static/picture/facebook-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.instagram.com/kmitlofficial">
                            <img src="/static/picture/ig-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.youtube.com/user/prKMITL">
                            <img src="/static/picture/youtube-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="">
                            <img src="/static/picture/linkedin-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="{{ url_for('static', path='index.js') }}" type="text/Javascript"></script>
</body>

</html>