<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">{{username}}</p>
                <br>
                <li><a class="sidebar-menu" href="/logout">Logout</a></li>
                {% else %}
                <ul>
                    <li><a class="sidebar-menu" href="/login">login</a></li>
                    <li><a class="sidebar-menu" href="/signup">signup</a></li>
                </ul>
                {% endif %}
                <br>
                <div class="sidebarnav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/admission">Admissions</a></li>
                    <li><a href="/news">News</a></li>
                    <div class="dropdown-side">
                        <li><a class="dropbtn">Program</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="/se2022">Software-Engineering 2022</a></li>
                                    <li><a href="/se2024">Software-Engineering 2024</a></li>
                                    <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                                    <li><a href="/queensland">KMITL-Queensland</a></li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <li><a href="/studyanytime">Study Anytime</a></li>
                </div>
            </div>
        </label>
        <div class="topnav">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admission">Admissions</a></li>
            <li><a href="/news">News</a></li>
            <div class="programbttn">
                <li><a>Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>
                        </ul>
                    </div>
                </li>
            </div>
            <li><a href="/studyanytime">Study Anytime</a></li>
            <div class="sepic">
                &emsp;&emsp;
                <img src="static/picture/se.png" alt="sepic" style="width: 75px; height: 45px;">
            </div>
        </div>

        <div class="subheader">
            <h5><a href="/news">News</a> / Software Engineer Skill Mapping Workshop</h5>
        </div>
        <div class="containernews">
            <div class="news1content">
                <h3>Software Engineer Skill Mapping Workshop</h3>
                <hr>
                <img src="static/picture/news1.png" alt="pic1">
                <br><br>
                <h3>Hello, Students of Software Engineering Program</h3>
                <p>Since, the program provide several specialization option in the second half (Year 3 and 4) of
                    the program. We realize that providing guildelines for the specialization is crucial for
                    2nd students to choose their own specialize. So KMITL and software engineering program
                    presenting, "Software Engineer Skill Mapping Workshop"...</p><br>
                <h3>Timing :</h3>
                <p>The workshop will be held on every Friday from 10th Febuary to 3rd March at 804 ECC building
                    from 9 AM to 12 PM.</p><br>
                <h3>Topic :</h3>
                <p>The workshop topic will be:
                <ul>
                    <li>In Friday 10th Febuary and 17th Febuary - Topic about Metavearse : HTML5 and A-Frame technology.
                    </li>
                    <li>In Friday 24th Febuary and 3rd March - Topic about Industrial IoT : IoT and Scada technology.
                    </li>
                </ul>
                <p>The workshop will be open for second year student of Software Engineering Program and any students
                    interrest in the topic.</p>
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="contact">
        <table>
            <tr>
                <td rowspan="7" style="width:15% ;"><img src="static/picture/kmitl-logo.png" alt=""
                        style="width: 150px" />
                <td>
            </tr>
            <tr>
                <td><strong style="color:#FF8000;">King Mongkut's Institute of Technology LadKrabang</strong></td>
            </tr>
            <tr>
                <td>
                    <p>1 Chalong Krung, 1 Alley, Lat Krabang, Bangkok 10520</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Email: saraban@kmitl.ac.th</p>
                </td>
            </tr>
            <tr>
                <td>tel : +662-329-8301 ext. 200</td>
            </tr>
            <tr>
                <td><strong>Contact us</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="link">
                        <a href="https://www.facebook.com/kmitlofficial">
                            <img src="/static/picture/facebook-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.instagram.com/kmitlofficial">
                            <img src="/static/picture/ig-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.youtube.com/user/prKMITL">
                            <img src="/static/picture/youtube-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="">
                            <img src="/static/picture/linkedin-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="{{ url_for('static', path='index.js') }}" type="text/Javascript"></script>
</body>

</html>