<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetpassword Page</title>
    <link href="{{ url_for('static', path='resetpassword.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="topnav">
                <li><a class="active" href="/"><b>SE@KMITL</b></a></li>
            </div>
            <div class="containertransition">
                <div class="container">
                    <h2>Password reset</h2>
                    {% if not sent %}
                    <div class="contentheadsub">
                        <p>
                            <span class="contentheadsubone">Enter your email to reset your password</span>
                        </p>
                    </div>
                    <div class="contentboxfield">
                        <form id="resetpassword" action="/user/resetPwd/" method="GET">
                            <p>
                                <input name="email" id="email" type="text" class="input-item" placeholder="E-mail *"
                                    required>
                            </p>
                            <div class="contentbutton">
                                <button type="submit" value="submit">Send</button>
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <div class="contentheadsub">
                        <p>
                            <span class="contentheadsubone">The reset password link has been sent to your email</span>
                        </p>
                    </div>
                    {% endif %}
                    <div class="contentbuttonsub">
                        <p>
                            <span class="contentbuttonsubone">Remember your password?</span>
                            <span>
                                <a href="/login">Sign in here</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>