<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">{{username}}</p>
                <br>
                <li><a class="sidebar-menu" href="/logout">Logout</a></li>
                {% else %}
                <ul>
                    <li><a class="sidebar-menu" href="/login">login</a></li>
                    <li><a class="sidebar-menu" href="/signup">signup</a></li>
                </ul>
                {% endif %}
                <br>
                <div class="sidebarnav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/admission">Admissions</a></li>
                    <li><a href="/news">News</a></li>
                    <div class="dropdown-side">
                        <li><a class="dropbtn">Program</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="/se2022">Software-Engineering 2022</a></li>
                                    <li><a href="/se2024">Software-Engineering 2024</a></li>
                                    <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                                    <li><a href="/queensland">KMITL-Queensland</a></li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <li><a href="/studyanytime">Study Anytime</a></li>
                </div>
            </div>
        </label>
        <div class="topnav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admission">Admissions</a></li>
            <li><a href="/news">News</a></li>
            <div class="programbttn">
                <li><a>Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>
                        </ul>
                    </div>
                </li>
            </div>
            <li><a class="active" href="/studyanytime">Study Anytime</a></li>
            <div class="sepic">
                &emsp;&emsp;
                <img src="static/picture/se.png" alt="sepic" style="width: 75px; height: 45px;">
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p></p><br>
                <h2>Login Required</h2>
                <br>
                <p></p>
            </div>
            <div class="modal-body">
                <br><br>
                <p>You must be signed in to access this page. Click the "Login" button to log in.</p>
                <br><br>
            </div>
            <div class="modal-footer">
                <h3><br>
                    <p>
                        <a href="/login"><button>Login</button></a>
                    </p>
                    <br>
                </h3>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="videoplayback">
        <br><br>
        <h1>Study Anytime</h1>
    </div>
    <div class="add_course">
        {% if role == "lecturer" %}
        <div class="coursetransition">
            <div class="addheader">
                <h1>Add course:</h1>
            </div>
        </div>
        <form id="add-form" action="/course/new/" method="POST">
            <p>
                <label for="course_name" id="course_name">Course name</label>
                <input name="course_name" id="course_name" type="text" placeholder="course name" required>
            </p>
            <p>
                <label for="course_id" id="course_id">Course id</label>
                <input name="course_id" id="course_id" type="text" placeholder="course id"
                    oninput="validateNumberInput(this)" required>
                <script>
                    function validateNumberInput(input) {
                        // Remove non-numeric characters from the input value
                        input.value = input.value.replace(/[^0-9]/g, '');
                    }
                </script>
            </p>
            <p>
                <label for="course_public" id="course_public">Public</label>
                <input name="course_public" id="course_public" type="checkbox" value="on">
            </p>
            <div>
                <input type="submit" value="add">
            </div>
        </form>
        {% endif %}
    </div>
    {% if role == "lecturer" or role == "student" %}
    <div class="enrolled_course">
        <div class="coursetransition">
            <div class="enrollheader">
                <h1>Enrolled Courses:</h1>
            </div>
        </div>
        {% for course in enrolled %}
        <div>
            <a href="/studyanytime/course/{{course.id}}">
                <div>
                    <b>{{course.id}}</b>
                    {{course.name}}
                </div>
                by {{instructor_db[course.instructor].first_name}} {{instructor_db[course.instructor].last_name}}
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="course_split">
        <div class="available_course">
            <div class="coursetransition">
                <div class="availableheader">
                    <h1>Public Courses:</h1>
                </div>
            </div>
            {% for course in other %}
            {% if course.public %}
            <div>
                <a href="/studyanytime/course/{{course.id}}">
                    <div>
                        <b>{{course.id}}</b>
                        {{course.name}}
                    </div>
                    by {{instructor_db[course.instructor].first_name}} {{instructor_db[course.instructor].last_name}}
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="available_course">
            <div class="coursetransition">
                <div class="availableheader">
                    {% if role == "lecturer" or role == "student" %}
                    <h1>Other Courses:</h1>
                    {% else %}
                    <h1>Enrollment Courses:</h1>
                    {% endif %}
                </div>
            </div>
            {% for course in other %}
            {% if not course.public %}
            <div>
                <a href="/studyanytime/course/{{course.id}}">
                    <div>
                        <b>{{course.id}}</b>
                        {{course.name}}
                    </div>
                    by {{instructor_db[course.instructor].first_name}} {{instructor_db[course.instructor].last_name}}
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="contact">
        <table>
            <tr>
                <td rowspan="7" style="width:15% ;"><img src="static/picture/kmitl-logo.png" alt=""
                        style="width: 150px" />
                <td>
            </tr>
            <tr>
                <td><strong style="color:#FF8000;">King Mongkut's Institute of Technology LadKrabang</strong></td>
            </tr>
            <tr>
                <td>
                    <p>1 Chalong Krung, 1 Alley, Lat Krabang, Bangkok 10520</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Email: saraban@kmitl.ac.th</p>
                </td>
            </tr>
            <tr>
                <td>tel : +662-329-8301 ext. 200</td>
            </tr>
            <tr>
                <td><strong>Contact us</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="link">
                        <a href="https://www.facebook.com/kmitlofficial">
                            <img src="/static/picture/facebook-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.instagram.com/kmitlofficial">
                            <img src="/static/picture/ig-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.youtube.com/user/prKMITL">
                            <img src="/static/picture/youtube-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="">
                            <img src="/static/picture/linkedin-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="{{ url_for('static', path='studyanytime.js') }}" type="text/Javascript"></script>
</body>

</html>