<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">{{username}}</p>
                <br>
                <li><a class="sidebar-menu" href="/logout">Logout</a></li>
                {% else %}
                <ul>
                    <li><a class="sidebar-menu" href="/login">login</a></li>
                    <li><a class="sidebar-menu" href="/signup">signup</a></li>
                </ul>
                {% endif %}
                <br>
                <div class="sidebarnav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/admission">Admissions</a></li>
                    <li><a href="/news">News</a></li>
                    <div class="dropdown-side">
                        <li><a class="dropbtn">Program</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="/se2022">Software-Engineering 2022</a></li>
                                    <li><a href="/se2024">Software-Engineering 2024</a></li>
                                    <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                                    <li><a href="/queensland">KMITL-Queensland</a></li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <li><a href="/studyanytime">Study Anytime</a></li>
                </div>
            </div>
        </label>
        <div class="topnav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admission">Admissions</a></li>
            <li><a href="/news">News</a></li>
            <div class="programbttn">
                <li><a>Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>
                        </ul>
                    </div>
                </li>
            </div>
            <li><a class="active" href="/studyanytime">Study Anytime</a></li>
            <div class="sepic">
                &emsp;&emsp;
                <img src="{{ url_for('static', path='/picture/se.png') }}" alt="sepic" style="width: 75px; height: 45px;">
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p></p><br>
                <h2>Login Required</h2>
                <br>
                <p></p>
            </div>
            <div class="modal-body">
                <br><br>
                <p>You must be signed in to access this page. Click the "Login" button to log in.</p>
                <br><br>
            </div>
            <div class="modal-footer">
                <h3><br>
                    <p>
                        <a href="/login"><button>Login</button></a>
                    </p>
                    <br>
                </h3>
            </div>
        </div>
    </div>
    <div class="videocontainer">
        <div class="videoplayback">
            <h1>Video Playback</h1>
            <h2>{{course.id}}&ensp;{{course.name}}:&emsp;{{video_name}}</h2>
            <video width="640" height="360" controls preload="metadata">
                <source src="http://127.0.0.1:8000/video/{{course.id}}/{{video_name}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <hr>
        <div class="videosidebar">
            <h1>Videos in this course: </h1>
            {% for video in course.videos %}
            <a href="/studyanytime/course/video/{{course.id}}/{{video}}">
                {% if video.title == video_name %}
                <div class="playing">
                    <b>{{video}}</b>
                </div>
                {% else %}
                <div class="not-playing">
                    {{video}}
                </div>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="forum">
        <h3>Forum</h3>
        <form action="/video/{{course.id}}/{{video_name}}" method="POST">
            <label for="post_content">Create Post:</label>
            <textarea id="post_content" name="post_content" required></textarea>
            <br>
            <button type="submit">Post</button>
        </form>
        {% for f in forum %}
        <div>
            <b>&emsp;&emsp;{{f.user}}</b>
            <div class="forum-content">
                &emsp;&emsp;{{f.content}}
            </div>
            <br>
            <button class="expand-replies">Expand forum</button>
            <div class="replies" style="display: none;">
                <div>
                    {% for r in f.reply %}
                    <b><i>&emsp;&emsp;{{r.user}}</i></b>
                    <div class="forum-content">
                        <i>&emsp;&emsp;{{r.content}}</i>
                    </div>
                    <br>
                    {% endfor %}
                </div>
                <form action="/video/{{course.id}}/{{video_name}}/{{loop.index - 1}}" method="POST">
                    <label for="post_content">Reply:</label>
                    <textarea id="post_content" name="post_content" required></textarea>
                    <br>
                    <button type="submit">Reply</button>
                </form>
            </div>
        </div>
        {% endfor %}

        <script>
            // Add a click event listener to all buttons with the class "expand-replies"
            document.querySelectorAll('.expand-replies').forEach(function (button) {
                button.addEventListener('click', function () {
                    // Find the closest "replies" div to the clicked button and toggle its display style
                    var repliesDiv = button.parentElement.querySelector('.replies');
                    if (repliesDiv) {
                        repliesDiv.style.display = (repliesDiv.style.display === 'none') ? 'block' : 'none';
                    }
                });
            });
        </script>

        <a href="/studyanytime/course/{{course.id}}">
            <button type="submit">Back</button>
        </a>
    </div>
    <div class="contact">
        <table>
            <tr>
                <td rowspan="7" style="width:15% ;"><img src="{{ url_for('static', path='/picture/kmitl-logo.png') }}" alt=""
                        style="width: 150px" />
                <td>
            </tr>
            <tr>
                <td><strong style="color:#FF8000;">King Mongkut's Institute of Technology LadKrabang</strong></td>
            </tr>
            <tr>
                <td>
                    <p>1 Chalong Krung, 1 Alley, Lat Krabang, Bangkok 10520</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Email: saraban@kmitl.ac.th</p>
                </td>
            </tr>
            <tr>
                <td>tel : +662-329-8301 ext. 200</td>
            </tr>
            <tr>
                <td><strong>Contact us</strong></td>
            </tr>
            <tr>
                <td>
                    <div class="link">
                        <a href="https://www.facebook.com/kmitlofficial">
                            <img src="/static/picture/facebook-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.instagram.com/kmitlofficial">
                            <img src="/static/picture/ig-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="https://www.youtube.com/user/prKMITL">
                            <img src="/static/picture/youtube-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                        <a href="">
                            <img src="/static/picture/linkedin-icon.png" alt="" style="width:20px; height:20px;" />
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="{{ url_for('static', path='studyanytime.js') }}" type="text/Javascript"></script>
</body>

</html>