<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Anytime</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">Hello, {{username}}</p>
                <li><a href="/logout">logout</a></li>
                {% else %}
                <ul>
                    <li><a href="/login">login</a></li>
                    <li><a href="/signup">signup</a></li>
                </ul>
                {% endif %}
            </div>
        </label>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/admission">Admissions</a>
            <a href="/news">News</a>
            <div class="programbttn">
                <li><a href="">Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>
                        </ul>
                    </div>
                </li>
            </div>
            <a class="active" href="/studyanytime" id="studyAnytimeLink">Study Anytime</a>
            <div class="sepic">
                <img src="se.png" alt="sepic" style="width: 75px; height: 45px;">
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p></p><br>
                <h2>Login Required</h2>
                <br>
                <p></p>
            </div>
            <div class="modal-body">
                <br><br>
                <p>You must be signed in to access this page. Click the "Login" button to log in.</p>
                <br><br>
            </div>
            <div class="modal-footer">
                <h3><br>
                    <p>
                        <a href="/login"><button>Login</button></a>
                    </p>
                    <br>
                </h3>
            </div>
        </div>
    </div>
    {% if enrolled or isInstructor%}
    <div class="uploadvideo">
        {% if isInstructor %}
        <br><br><br><br><br><br>
        <h1>Upload Video:</h1>
        <form id="add-form" action="/video/upload/{{course_id}}" method="POST" enctype="multipart/form-data">
            <div>
                <input type="file" name="file">
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
        {% if not isPublic %}
        <h1>Enroll Student:</h1>
        <form id="enroll-form" action="/enroll/{{course_id}}" method="POST">
            <p>
                <input name="student_id" id="student_id" type="text" placeholder="Student ID">
            </p>
            <div>
                <input type="submit" value="Enroll">
            </div>
        </form>
        {% endif %}
        {% endif %}
    </div>
    <div class="video">
        <br><br><br><br><br><br>
        <h1>Videos:</h1>
        {% for video in videos %}
        <div><a href="/studyanytime/course/video/{{course_id}}/{{video}}"><b>{{video}}</b></a></div>
        {% endfor %}
        <br>
    </div>
    {% else %}
    <div>
        <br><br><br><br><br><br>
        <h2>You have not enrolled to this course</h2>
    </div>
    {% endif %}
    <script src="{{ url_for('static', path='studyanytime.js') }}" type="text/Javascript"></script>
</body>

</html>