<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="{{ url_for('static', path='login.css') }}" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" type = "text/css" href = "login.css"> -->
</head>
<body>
    <div class = "main">
        <div class = "header">
            <div class="headertransition">
                <b>SE@KMITL</b>
            </div>
        </div>
        <div class = "content">
            <h2>Sign in</h2>
            <div class="contentheadsub">
                <p>
                    <span class="contentheadsubone">Don't have an account?</span>
                    <span>
                        <a href="/signup">Sign up</a>
                    </span>
                </p>
            </div>
            <form>
                <div class="contentboxfield">
                    <p>
                        <input name="email" id="email" type="text" placeholder="E-mail *" required>
                    </p>
                    <p>
                        <input name="password" id="password" type="password" placeholder="Password *" required>
                    </p>
                </div>
                <div class="contentbutton">
                    <button onclick="studentlogin()">Student</button>
                    <button onclick="lecturerlogin()">Lecturer</button>
                </div>
            </form>
            <div class="contentbuttonsub">
                <p>
                    <span class="contentbuttonsubone">Forgot your password?</span>
                    <span>
                        <a href="/resetpassword">Reset password</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</body>
<script type="text/Javascript" src="function.js"></script>
</html>