<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- <link rel="stylesheet" type = "text/css" href = "resetpassword.css">  -->
    <link href="{{ url_for('static', path='signup.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "main">
        <div class = "header">
            <div class="headertransition">
                <b>SE@KMITL</b>
            </div>
        </div>
        <div class = "content">
            <h2>Password reset</h2>
            <div class="contentheadsub">
                <p>
                    <span class="contentheadsubone">Enter your email to reset your password</span>
                </p>
            </div>
            <div class="contentboxfield">
                <form>
                    <p>
                        <input name="email" id="email" type="text" placeholder="E-mail *" required>
                    </p>
                </form>
            </div>
            <div class="contentbutton">
                <button onclick="resetpassword()">Send</button>
            </div>
            <div class="contentbuttonsub">
                <p>
                    <span class="contentbuttonsubone">Remember your password?</span>
                    <span>
                        <a href="/login">Sign in here</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>