<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Page</title>
    <!-- <link rel="stylesheet" type = "text/css" href = "signup.css">  -->
    <link href="{{ url_for('static', path='signup.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "main">
        <div class = "header">
            <div class="headertransition">
                <b>SE@KMITL</b>
            </div>
        </div>
        <div class = "content">
            <h2>Sign up</h2>
            <div class="contentboxfield">
                <form>
                    <p>
                        <input name="username" id="username" type="text" placeholder="Username *" required>
                    </p>
                    <p>
                        <input name="email" id="email" type="text" placeholder="E-mail *" required>
                    </p>
                    <p>
                        <input name="password" id="password" type="password" placeholder="Password *" required>
                    </p>
                    <p>
                        <input name="confirmpassword" id="confirmpassword" type="password" placeholder="Confirm Password *" required>
                    </p>
                </form>
            </div>
            <div class="contentbutton">
                <button onclick="signup()">Sign up</button>
            </div>
            <div class="contentbuttonsub">
                <p>
                    <span class="contentbuttonsubone">Already have an account?</span>
                    <span>
                        <a href="/login">Sign in</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>