<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <label>
            <input type="checkbox">
            <div class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </div>
            <div class="sidebar">
                <h1>Profile</h1>
                {% if alreadylogin %}
                <p style="color: rgb(255, 255, 255);">Hello, {{username}}</p>
                <li><a href="/logout">logout</a></li>
                {% else %}
                <ul>
                    <li><a href="/login">login</a></li>
                    <li><a href="/signup">signup</a></li>
                </ul>
                {% endif %}
            </div>
        </label>
        <div class="topnav">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admission">Admissions</a></li>
            <li><a href="/news">News</a></li>
            <div class="programbttn">
                <li><a href="/">Program</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/se2022">Software-Engineering 2022</a></li>
                            <li><a href="/se2024">Software-Engineering 2024</a></li>
                            <li><a href="/glasgow">KMITL-GLASGOW</a></li>
                            <li><a href="/queensland">KMITL-Queensland</a></li>
                        </ul>
                    </div>
                </li>
            </div>
            <li><a href="/studyanytime">Study Anytime</a></li>
            <div class="sepic">
                <img src="static/picture/se.png" alt="sepic" style="width: 75px; height: 45px;">
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p></p><br>
                <h2>Login Required</h2>
                <br>
                <p></p>
            </div>
            <div class="modal-body">
                <br><br>
                <p>You must be signed in to access this page. Click the "Login" button to log in.</p>
                <br><br>
            </div>
            <div class="modal-footer">
                <h3><br>
                    <p>
                        <a href="/login"><button>Login</button></a>
                    </p>
                    <br>
                </h3>
            </div>
        </div>
    </div>
    <div>
        <br><br><br><br><br><br>
        <h1>Video Playback</h1>
        <h2>{{course_id}}: {{video_name}}</h2>
        <video width="640" height="360" controls>
            <source src="http://127.0.0.1:8000/video/{{course_id}}/{{video_name}}" type="video/mp4">
        </video>
    </div>
    <div>
        <h3>Forum</h3>

        <form action="/video/{{course_id}}/{{video_name}}" method="POST">
            <label for="post_content">Create Post:</label>
            <textarea id="post_content" name="post_content" required></textarea>
            <button type="submit">Post</button>
        </form>

        {% for f in forum %}
        <div>
            <p><b>{{f.user}}</b></p>
            <p>{{f.content}}</p>
            <form action="/video/{{course_id}}/{{video_name}}/{{loop.index - 1}}" method="POST">
                <label for="post_content">reply:</label>
                <textarea id="post_content" name="post_content" required></textarea>
                <button type="submit">reply</button>
            </form>
            <br>
            <div>
                {% for r in f.reply %}
                <p><b><i>&emsp;{{r.user}}</i></b></p>
                <p><i>&emsp;{{r.content}}</i></p>
                <br>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', path='studyanytime.js') }}" type="text/Javascript"></script>
</body>

</html>